
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMGJhMzc3M2QtMTkzZi00YmRjLTk1YmQtZTMyZDNiZjQzMDA3IiwidGVuYW50X2lkIjoiMDU3NWQ0OGVlYjgwYmYyODUxZWVmY2Q3ZTUxYTEwNmJkZDBjOWE4MWVhYjBjMGYwMzY0ZTA5NzliNDg1Y2FmMiIsImludGVybmFsX3NlY3JldCI6ImMwMjZhM2VmLTk3MWMtNDMzZC1iMTIzLTY5N2ZhNTQ3NzU5NiJ9.l6ZbstN694GqRzB83nfzB8W3NM8tB7pdk1ucFUcXpqI"
